.button-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: var(--dense-padding);

  .page-button {
    display: block;
    padding: var(--dense-padding);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);

    // font-family: 'Poppins', var(--fallback-font);
  
    text-align: center;
  
    transition: 0.2s;
    &:hover {
      background-color: blue;
      color: var(--text-color-light);
      font-weight: bold;
    }

    &.active {
      border: 3px solid blue;
    }
  
    color: unset;text-decoration: unset;
  }
}